* {
    margin: 0;
    padding: 0;


}

body {
    background: url("/assets//flowers.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(172, 255, 47, 0.75);
    background-blend-mode: color;
    background-repeat: no-repeat;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    font-size: 16px;
    overflow: hidden;
}

h1 {
    color: whitesmoke;
    font-size: 3rem;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
    text-align: center;
}

p {
    padding: 2rem;
}

.kiss {
    opacity: 0;
    transition: opacity 0.3s ease-in;
    height: auto;
    width: 100%;
}

.kiss.loaded {
    opacity: 1;
}

canvas {
    position: absolute;
    /* height: 100vh;
    width: 100vw; */
}